@font-face{
    font-family: "Soucer Sans Pro";
    src: ('../fonts/source-sans-pro/Source-Sans-Pro-Regular.otf');
}

@font-face{
    font-family: "Soucer Sans Pro";
    src: ('../fonts/source-sans-pro/Source-Sans-Pro-Bold.otf');
    font-weight: bold;
}

@font-face{
    font-family: "Soucer Sans Pro";
    src: ('../fonts/source-sans-pro/Source-Sans-Pro-BoldIt.otf');
    font-weight: bold;
    font-style: italic;
}